* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "open_sansregular", sans-serif;
    font-size: 16px;
}

/*____________scree1____________________________________*/
.container_screen1 {
    width: 100%;
    background: #000000;
}

.screen1 {
    width: 90%;
    margin: 0 auto;
}

.flex_wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    margin-top: 56px;
}

.logo a {
    text-decoration: none;
}

.logo h2 {
    font-family: "open_sansextrabold";
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.nav {
    width: 100%;
    margin-top: 61px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.nav ul {
    list-style-type: none;
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-left: 15px;
}

.nav a:hover {
    -webkit-text-decoration: #fcac45 underline;
            text-decoration: #fcac45 underline;
}

.nav_adaptive {
    display: none;
}

.heading {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 80px;
}

.heading h1 {
    display: inline-block;
    color: #999999;
    font-size: 44px;
    font-family: 'open_sanslight';
}

.heading span {
    color: #fcac45;
    font-family: 'open_sansbold';
}

.heading p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 24px
}

/*____________scree2___________________________________*/

.container_screen2 {
    width: 100%;
}

.screen2 {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 120px;
    padding-bottom: 120px;
}

.img_left {
    width: 50%;
}

.img_left img {
    max-width: 100%;
}

.text_right {
    width: 50%;
    margin-left: 10.6%;
}

.text_right h3 {
    text-align: center;
    font-size: 34px;
    font-family: 'open_sanslight';
    color: #222222;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 3px solid #fcac45;
}

.text_right h3 span {
    font-size: 34px;
    color: #222222;
    text-transform: uppercase;
    font-family: 'open_sansbold';
}

.text_right p {
    padding-top: 31px;
    color: #6c6c6c;
    font-size: 18px;
    font-family: 'open_sanslight';
}

.checkbox ul {
    margin-top: 45px;
    list-style-type: none;
}

.checkbox li {
    padding-left: 28px;
    background: url(../img/icon.svg) no-repeat;
    background-position-x: 6px;
    background-position-y: 3px;
}

.checkbox span {
    font-family: 'open_sansbold';
}

/*____________scree4___________________________________*/

.container_screen3 {
    width: 100%;
    background: #000000;
}

.screen3 {
    padding-bottom: 120px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.screen3 h3 {
    display: inline-block;
    color: #ffffff;
    font-size: 44px;
    text-transform: uppercase;
    padding: 80px 8px 10px 8px;
    border-bottom: 3px solid #fcac45;
}

.flex_wrapper2 {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.item {
    margin: auto;
    color: #ffffff;
}

.photo {
    max-width: 138px;
    margin: 0 auto;
}

.circle {
    width: 100%;
    padding-top: 100%;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

.circle img {
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 28px;
    margin: auto;
}

.item_name {
    margin-top: 22px;
    font-size: 20px
}

.item_text {
    padding-top: 30px;
    max-width: 247px;
    font-size: 14px;
    margin: 0 auto;

}

/*____________scree3___________________________________*/

.container_screen4 {
    width: 100%;
    background: #ffffff;
}

.screen4 {
    padding: 60px 0 120px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.screen4 h3 {
    display: inline-block;
    color: #000000;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 3px solid #fcac45;
    padding: 80px 8px 10px 8px;
}

.screen4_text {
    padding: 25px;
    margin: 0 60px;
    font-style: italic;
}

.flex_wrapper3 {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.item2 {
    margin: auto;
}

.icon {
    max-width: 128px;
    margin: 0 auto;
}

.circle2 {
    width: 100%;
    padding-top: 100%;
    border: 3px solid #fcac45;
    border-radius: 50%;
    position: relative;
}

.circle2 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.item2_work {
    margin-top: 22px;
    font-size: 25px;
    color: #000000;
    text-transform: uppercase;
}

.item2_text {
    max-width: 247px;
    margin-top: 30px;
    font-size: 14px;
    color: #000000;
    margin: 0 auto;
}

/*____________scree5___________________________________*/

.container_screen5 {
    width: 100%;
    background: #000;
}

.screen5 {
    padding: 60px 0 60px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.screen5 h3 {
    display: inline-block;
    color: #ffffff;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 3px solid #fcac45;
}

.wrapper3 {
    text-align: center;
}

.item3 {
    display: inline-block;
    min-width: 153px;
    padding: 50px 15px;
}

/*____________scree5___________________________________*/

.container_screen6 {
    width: 100%;
    background: #fff;
}

.screen6 {
    padding: 60px 0 60px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.screen6 h3 {
    display: inline-block;
    color: #000;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 3px solid #fcac45;
}

.screen5_text {
    padding: 25px;
    margin: 0 60px;
    font-style: italic;
}

.wrapper4 {
    width: 70%;
    margin: 0 auto;
}

.wrapper4 span {
    color: red;
}

input {
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 85px;
    font-size: 20px;
}

.button_block {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.button_block input {
    width: 160px;
    height: 40px;
    background: #fcac45;
    border: none;
    color: #fff;
}

/*____________scree7___________________________________*/

.container_screen7 {
    width: 100%;
    background: #000;
}

.screen7 {
    padding: 40px 0 20px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.screen7 img {
    margin: 3px;
}
