.main-heading {
    padding-top: 90px;
    display: flex;
    max-width: 1092Bpx;
    margin: 0 auto;
    align-items: flex-start;

    @include sm-block {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

.main-heading__title {
    font-weight: 700;
    font-size: 30px;
    color: #0d0d0d;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 35px;

    &::after {
        content: '';
        display: block;
        width: 4px;
        height: 45px;
        background: #f39c12;
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 19px;
    }
}

.main-heading__text {
    margin-left: 42px;
    color: #4d4d4d;
    text-transform: uppercase;

    @include xs-block{
        margin-left: 0;
    }
}


.about-content {
    @include row-flex;
    justify-content: center;
    padding-top: 100px;
}

.about-content__wrap-icon {
    @include col;
    @include size(2);
    @include size-md(3);
    @include size-sm(12);
}

.about-content__icon {
    margin: 0 auto;
    @include circle;
    background: url('../src/img/bulb.png') no-repeat center center;

    @include sm-block {
        margin-bottom: 50px;
    }
}

.about-content__wrap-text {
    @include col;
    @include size(6);
    @include size-md(9);
    @include size-sm(12);
    text-align: center;
}

.about-content__title {
    font-size: 20px;
    font-weight: 700;
    color: #0d0d0d;
    text-transform: uppercase;
    margin-top: -10px;
    padding-bottom: 19px;
}

.about-content__text {
    font-size: 15px;
    color: #595959;
}

.about-content__wrap-img {
    @include col;
    @include size(4);
    @include size-md(8);
    @include shift-md-left(2);
    @include shift-sm-left(0);
    @include size-sm(12)
}

.about-content__img {
    padding-top: 70%;
    background: #e74c3c url('../src/img/Shape_1.png') no-repeat center center;
}