.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include xs-block{
    	justify-content: center;
    }
}

.footer__text {
	font-size: 12px;
	color: #b2b2b2;
	align-items: center;

	 @include xs-block{
    	padding-top: 30px;
    	text-align: center;
    }
}

.icon-block{
	padding: 30px 0;
}