.title-portfolio {
    padding-top: 100px;
}

.title-portfolio__subtitle {
    padding-top: 91px;
    color: #6c6c6c;
    font-size: 16px;
    font-style: italic;

}

.filter {
    padding: 100px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sorting {
    display: flex;

    @include sm-block {
        flex-direction: column;
    }
}

.sorting__link {
    position: relative;
    margin-left: 10px;
    color: #6c6c6c;
    font-size: 18px;

    &:hover {
        text-shadow: 1px 0 0 #000;
        color: #000;
    }

}

.sorting__link_stick {
    margin-left: 13px;
    color: #6c6c6c;

    @include sm-block {
        display: none;
    }
}

.grid__jobs {
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-sm(12);
    text-align: center;
    padding-bottom: 30px;
}