.post {
    padding-top: 30px;
    @include row-flex;
}

.post-item {
    padding-top: 60px;
    @include col;
    @include size(6);
    @include size-md(12);
}

.post-item__wrapper-top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #b7b7b7 url('../src/img/Shape_1.png') no-repeat center center;

    &::before {
        display: block;
        content: '';
        padding-top: 55%;
        @include xs-block{
            padding-top: 100%;
        }
    }

}

.post-item__icon {
    width: 44px;
    height: 44px;
    background: #f39c12 url('../src/img/post-item__icon.png') no-repeat center center;
}

.post-item__title {
    color: #0d0d0d;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 35px 15px 20px;
    background: #fff;

    @include lg-block {
        font-size: 15px;
    }
}

.post-item__wrapper-bottom {
    position: relative;
    padding-top: 23px;
    display: flex;
}

.post-item__data {
    text-align: right;
}

.psot-item__text {
    width: 80%;
    margin-left: 40px;
}

.post__button {
    margin-top: 30px;
    margin-left: 69px;
    width: 105px;
    height: 35px;
    border: 2px solid #f39c12;
    background: transparent;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: .5s;

    &:hover {
        background: #f39c12;
        color: #fff;
    }
}
