.title {
    text-align: center;
    font-size: 44px;
}

.title-services {
    padding-top: 100px;
    font-weight: 300;
}

.title-services__subtitle {
    padding-top: 40px;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}


.grid__work {
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-sm(12);
    padding-top: 100px;
    text-align: center;
}

.works__img {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #fcac45;
    box-sizing: border-box;
    position: relative;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.works__name {
    padding-top: 29px;
    font-size: 25px;
}

.works__about {
    padding-top: 20px;
    font-size: 14px;
    padding-bottom: 100px;

    @include md-block {
        padding-bottom: 0px;
    }

    &_padding {
        margin-bottom: 100px;
    }
}