.team {
    color: #fff;
}

.title-team {
    padding-top: 100px;
    font-weight: 300;
}

.grid {
    @include row-flex;
}

.grid__people {
    @include col;
    @include size(3);
    @include size-md(6);
    @include size-sm(12);
    padding-top: 100px;
    text-align: center;
}


.people__photo {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;

    img {
        position: absolute;
        width: 95%;
        top: -11px;
        left: 4px;
    }
}

.people__name {
    padding-top: 23px;
    line-height: 24px;
}

.people__about {
    padding-top: 25px;
    font-size: 14px;
    padding-bottom: 100px;

    @include md-block {
        padding-bottom: 0px;
    }

    &_padding {
        margin-bottom: 100px;
    }
}